@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark Mode Variables */
.dark {
  --background: #121212;
  /* Add other dark mode specific variables here as needed */
  --foreground: #ffffff;
}

/* Base styles - Only for HTML elements */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 100%;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-grayscale-100;
  }
  a {
    @apply text-link hover:underline;
  }
}

