@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --background: #121212;
  --foreground: #ffffff;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 100%;
  }
  * {
    @apply border-border;
  }
  html {
    font-family: var(--font-sans);
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-grayscale-100;
    font-family: var(--font-heading);
  }
  a {
    @apply text-link hover:underline;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
